<head>
<style>
table {
   width: 100%;
}

h1 {
   text-align: center;
}

.contact {
   text-align: center;
}

.date {
   text-align: right;
}

.role_title {
   text-align: center;
}

td {
    width: 33%;
    }

</style>
</head>
<body>

<h1>Caleb Marchent</h1>
<p class="contact">
9 Goldfinch Drive, Cottenham, Cambridge, CB24 8XY | 07803 296105 | caleb.marchent@iee.org
</p>
<h2>Summary</h2>
Software Engineer with 20 years experience, predominantly as a hands-on developer leading teams of highly skilled engineers to deliver products using whatever technology is required. Seeks another hands-on technical role, working closely in a team with other engineers to successfully deliver products that satisfy customers.
<p>
Holds a rare combination of talents; a broad knowledge of the development, production and support of software, the ability to write code, script systems and use tools while at the same time - create, mentor and manage teams that can do this on a larger scale. Grace under pressure while dealing with demanding customers from around the world and delivering on tight deadlines.

<h2>Key Skills</h2>

<h2>Experience</h2>
{% for position in positions %}
<hr>
<table>
<tr><td>{{ position.company_name }}<td class="role_title">{{ position.title }}<td class="date">{{ position.start }} - {{ position.finish }}</td>
</table>
{% if position.company_summary is defined %}
<p>{{ position.company_summary }}</p>
{% endif %}
{% set achievements_here = achievements[position.brief] %}
<ul>
{% for achievement in achievements_here %}
    <li>{{ achievement.desc }}</li>
{% endfor %}
</ul>
{% endfor %}
<h2>Education</h2>
{% for experience in education %}
<table>
    <tr><td>{{ experience.desc }}<td class="date">{{ experience.date }}</td>
</table>
{% endfor %}
<table>
    <tr>
        <td>
MEng. (Hons) Electronic Engineering with Computer Science: 2-1 <br>
University of Wales Swansea <br>
4-year masters course plus one gap year in Fachhochschule Mannheim
        <td class="date">
        1993 - 1998</td>
    </tr>
</table>
</body>