<head>
</head>
<body>

<h1>Caleb Marchent</h1>
9 Goldfinch Drive, Cottenham, Cambridge, CB24 8XY | 07803 296105 | caleb.marchent@iee.org

<h2>Summary</h2>
Software Engineer with 20 years experience, predominantly as a hands-on developer leading teams of highly skilled engineers to deliver products using whatever technology is required. Seeks another hands-on technical role, working closely in a team with other engineers to successfully deliver products that satisfy customers.

Holds a rare combination of talents; a broad knowledge of the development, production and support of software, the ability to write code, script systems and use tools while at the same time - create, mentor and manage teams that can do this on a larger scale. Grace under pressure while dealing with demanding customers from around the world and delivering on tight deadlines.

<h2>Key Skills</h2>

<h2>Experience</h2>
{% for position in positions %}
<hr>
<table>
<tr><td>{{ position.company_name }}<td>{{ position.title }}<td>{{ position.start }} - {{ position.finish }}</td>
</table>
{% if position.company_summary is defined %}
<p>{{ position.company_summary }}</p>
{% endif %}
{% set achievements_here = achievements[position.brief] %}
{% for achievement in achievements_here %}
<li>{{ achievement.desc }}
{% endfor %}
{% endfor %}

Education
Certified ScrumMaster (CSM)		2015
PRINCE2		2008
MEng. (Hons) Electronic Engineering with Computer Science: 2-1	1993 - 1998
University of Wales Swansea
4-year masters course plus one gap year in Fachhochschule Mannheim
</body>